<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<log4net>
		<!-- UDP Appender for Debug Monitor -->
		<appender name="udp" type="log4net.Appender.UdpAppender">
			<remoteAddress value="127.0.0.2" />
			<remotePort value="9999" />
			<layout type="log4net.Layout.XmlLayout" />
		</appender>
		<!-- Set up an appender to write to a file -->
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="ScreenScraper-log" />
			<datePattern value="-yyyy-MM-dd.'txt'" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100KB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyy-MM-dd hh:mm:ss} %-5level [%thread]  %logger - %message%newline" />
			</layout>
		</appender>
		<!--configure loggers-->
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFile" />
			<!--<appender-ref ref="udp"/>-->
		</root>
	</log4net>
</configuration>
